@import "./common/variables"
@import "./common/animations"

header
    display: flex
    position: fixed
    top: 0
    right: 0
    left: 0
    background-color: white
    padding: 10px
    z-index: 99
    animation: transitionUpToDownIn 1.5s ease-in-out

.logo
    height: $header-item-height
    a
        display: block

.info-bell
    position: relative
    width: 16px
    height: 16px
    margin-right: 16px
    background-color: transparent
    border: 0
    &::after
        content: ''
        position: absolute
        top: 3px
        left: 0
        width: 100%
        height: 100%
        background: no-repeat url('../assets/bell.svg')
        background-position: center
        background-size: contain
        opacity: 0.6
    &:hover::after
        opacity: 1

.user-logo
    display: flex
    align-items: center
    justify-content: center
    height: $header-item-height
    width: $header-item-height
    color: white
    font-size: 20px
    background-color: $user-sign-color
    border-radius: 50%
    border-style: none
    cursor: pointer
    &:hover
        background-color: $user-sign-hovered-color

.header-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%


.nav
    position: relative
    ul
        list-style: none

.nav-items
    display: flex
    align-items: center

.dropdown-list
    display: block

#btnControl
    display: none

.user-actions-dropdown
    display: none
    position: absolute
    top: 35px
    right: 0
    padding: 5px 15px 15px
    background-color: white
    box-shadow: 0 0 20px 10px rgba(black, 0.1)
    white-space: nowrap

input:checked ~ .user-actions-dropdown
    display: block

.user-name-dropdown
    border-bottom: solid 1.5px $accent-color
    text-align: center
    line-height: 2
    color: $info-text-color

.user-dropdown-item
    display: block
    padding: 5px
    &:hover
        background-color: rgba($accent-color, 0.5)
