@import "./common/variables"
@import "./common/animations"
    
button a
    text-decoration: none
    padding: 6px 30px

.warning
    background-color: $warning-color

.error
    background-color: $error-color

.success
    background-color: $success-color

//flip-card  
.flip-card
    position: relative
    width: 100%
    height: 100%
    transition: transform 1s
    transform-style: preserve-3d

.flip-card-front, 
.flip-card-back
    display: flex
    position: absolute
    backface-visibility: hidden
    width: 100%
    height: 100%
    background-color: white

.flip-card-back
    transform: rotateY(-180deg)

// notifications
.notifications-wrapper
    display: flex
    flex-direction: column-reverse
    position: fixed
    bottom: 0
    right: 0

.notification
    display: flex
    align-items: center
    max-width: 200px
    margin: 0 12px 12px 0
    padding: 15px 20px
    color: white
    border-radius: 6px
    opacity: 0.8

.notification > i
    padding-right: 15px
    font-size: 26px

//main content
.content
    display: grid
    grid-template-columns: repeat(16, 1fr [col-start])
    grid-template-rows: repeat(8, 1fr [row-start])
    height: calc(100vh - 90px)
    margin-top: 100px
    font-size: calc(100vw/1280 * 16)

.card
    position: relative
    padding: 15px
    background-color: white

.qa-card-back p,
.js-card p,
.js-card-back p,
.java-card p,
.php-card p,
.dotnet-card p
    font-size: 18px
    font-weight: 600

.java-card-wrap,
.php-card-wrap,
.dotnet-card-wrap,
.events-card-wrap,
.contacts-card-wrap,
.blog-card-wrap,
    display: flex
    align-items: center
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

.binary-card
    grid-column: 1 / span 4
    grid-row: 1 / span 4

.binary-card:hover > .flip-card
    transform: rotateY(180deg)

.binary-card-front
    align-items: center
    justify-content: center
    img
        height: 8em

.binary-card-back
    align-items: center
    justify-content: center

.join-button
    border: none
    padding: 6px 0
    background-color: $button-color
    border-radius: 3px
    &:hover,
    &:active
        background-color: $button-active-color
    a 
        color: white
        font-size: 18px

.qa-card
    grid-column: 1 / span 4
    grid-row: 5 / row-end

.qa-card:hover > .flip-card
    transform: rotateY(180deg)

.qa-card-front
    align-items: center
    position: absolute
    background-color: $qa-color
    p
        width: 100%
        font-size: 3.8em
        text-align: center
        color: white

.qa-card-back
    padding: 15px

.js-card
    grid-column: 5 / span 4
    grid-row: 1 / span 6

.js-card:hover > .flip-card
    transform: rotateY(180deg)

.js-card-front
    position: absolute
    background-color: $js-color
    p
        position: absolute
        bottom: 0
        right: 0
        padding: 0 10px
        font-size: 4.2em
        color: black

.js-card-back
    position: absolute
    padding: 15px

.java-card
    grid-column: 5 / span 4
    grid-row: 7 / row-end

.java-card:hover .java-card-wrap
    transform: scaleY(0)
    p
        transform: scaleX(0)

.java-card-wrap
    transition: transform 0.3s ease-out
    transform: scaleY(1)
    transform-origin: bottom
    background-color: $java-color
    p
        width: 100%
        font-size: 2.2em
        text-align: center
        color: white
        font-weight: 500
        transition: transform 0.3s ease-out
        transform: scaleX(1)
        transform-origin: center

.php-card
    grid-column: 9 / col-end
    grid-row: 1 / span 3

.php-card:hover .php-card-wrap
    transform: scale(0)

.php-card-wrap
    transition: transform 0.3s ease-out
    transform: scale(1)
    transform-origin: top right
    background-color: $php-color
    p
        width: 100%
        font-style: italic
        font-size: 3.8em
        text-align: center

.dotnet-card
    grid-column: 9 / span 5
    grid-row: 4 / row-end

.dotnet-card:hover .dotnet-card-wrap
    transform: scale(0)

.dotnet-card-wrap
    transition: transform 0.3s ease-out
    transform: scale(1)
    transform-origin: bottom right
    background-color: $dotnet-color
    p
        width: 100%
        font-size: 3.8em
        text-align: center
        color: white
        font-weight: 500
        
.events-card,
.blog-card,
.contacts-card
    padding: 0
    p,
    .socials
        padding: 15px
        overflow-x: hidden
        overflow-y: auto
        &::-webkit-scrollbar 
            width: 8px
        &::-webkit-scrollbar-thumb 
            background-color: lightgrey
            border-radius: 4px

.events-card
    grid-column: 14 / col-end
    grid-row: 4 / span 2
    overflow: hidden
   
.events-card:hover .events-card-wrap
    transition: transform 0.3s ease-out
    transform: translate(101%)

.events-card-wrap,
.blog-card-wrap,
.contacts-card-wrap
    p
        width: 100%
        font-size: 1em
        text-align: center
        color: white

.events-card-wrap
    transition: transform 0.3s ease-out
    transform: translate(0%)
    background-color: $events-color
  

.blog-card
    grid-column: 14 / col-end
    grid-row: 6 / span 2
    overflow: hidden

.blog-card:hover .blog-card-wrap
    transition: transform 0.3s ease-out
    transform: translate(101%)

.blog-card-wrap
    transition: transform 0.3s ease-out
    transform: translate(0%)
    background-color: $blog-color

.contacts-card
    display: flex
    justify-content: center
    grid-column: 14 / col-end
    grid-row: 8
    overflow: hidden

.contacts-card:hover .contacts-card-wrap
    transition: transform 0.3s ease-out
    transform: translate(101%)

.contacts-card-wrap
    transition: transform 0.3s ease-out
    transform: translate(0%)
    background-color: $contacts-color

.socials
    display: flex
    align-items: center
    justify-content: center

.social-item
    color: black
    width: 40px
    height: 40px
    margin: 5px
    &:hover
        color: $button-color

.scrolled-y-wrapper
    height: 100%
    overflow: hidden
    p
        height: 100%

.scrolled-x-wrapper
    width: 100%
    overflow: hidden
  
.scrolled-x-wrapper .socials
    height: 100%
    width: 100%
    overflow-x: auto
    overflow-y: hidden

@media screen and (max-width: 980px)
    .content
        grid-template-rows: repeat(16, 1fr [row-start])

    .binary-card
        grid-column: 1 / span 7
        grid-row: 1 / span 8

    .qa-card
        grid-column: 1 / span 8
        grid-row: 13 / row-end

    .js-card
        grid-column: 8 / span 5
        grid-row: 1 / span 8

    .java-card
        grid-column: 1 / span 8
        grid-row: 9 / span 4
        
    .php-card
        grid-column: 9 / col-end
        grid-row: 9 / span 4

    .dotnet-card
        grid-column: 9 / col-end
        grid-row: 13 / row-end

    .events-card
        grid-column: 13 / col-end
        grid-row: 1 / span 3

    .blog-card
        grid-column: 13 / col-end
        grid-row: 4 / span 3

    .contacts-card
        grid-column: 13 / col-end
        grid-row: 7 / span 2
