@import "./common/variables"
@import "./header"
@import "./main"
@import "./footer"

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: sans-serif

body
    background-color: $base-color

button
    outline: none
    cursor: pointer

.container
    width: 100%
    max-width: 80%
    margin: 0 auto

img
    display: block
