@-webkit-keyframes transitionUpToDownIn {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes transitionUpToDownIn {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  padding: 10px;
  z-index: 99;
  -webkit-animation: transitionUpToDownIn 1.5s ease-in-out;
          animation: transitionUpToDownIn 1.5s ease-in-out;
}

.logo {
  height: 30px;
}

.logo a {
  display: block;
}

.info-bell {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  background-color: transparent;
  border: 0;
}

.info-bell::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat url("../assets/bell.svg");
  background-position: center;
  background-size: contain;
  opacity: 0.6;
}

.info-bell:hover::after {
  opacity: 1;
}

.user-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  color: white;
  font-size: 20px;
  background-color: #f8991c;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
}

.user-logo:hover {
  background-color: #d67700;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav {
  position: relative;
}

.nav ul {
  list-style: none;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-list {
  display: block;
}

#btnControl {
  display: none;
}

.user-actions-dropdown {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  padding: 5px 15px 15px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

input:checked ~ .user-actions-dropdown {
  display: block;
}

.user-name-dropdown {
  border-bottom: solid 1.5px #dbdfe7;
  text-align: center;
  line-height: 2;
  color: rgba(143, 153, 164, 0.6);
}

.user-dropdown-item {
  display: block;
  padding: 5px;
}

.user-dropdown-item:hover {
  background-color: rgba(219, 223, 231, 0.5);
}

@keyframes transitionUpToDownIn {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

button a {
  text-decoration: none;
  padding: 6px 30px;
}

.warning {
  background-color: #faa045;
}

.error {
  background-color: #c3534e;
}

.success {
  background-color: #6bab69;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
}

.flip-card-back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.notifications-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: fixed;
  bottom: 0;
  right: 0;
}

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  margin: 0 12px 12px 0;
  padding: 15px 20px;
  color: white;
  border-radius: 6px;
  opacity: 0.8;
}

.notification > i {
  padding-right: 15px;
  font-size: 26px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr [col-start])[16];
      grid-template-columns: repeat(16, 1fr [col-start]);
  -ms-grid-rows: (1fr [row-start])[8];
      grid-template-rows: repeat(8, 1fr [row-start]);
  height: calc(100vh - 90px);
  margin-top: 100px;
  font-size: calc(100vw/1280 * 16);
}

.card {
  position: relative;
  padding: 15px;
  background-color: white;
}

.qa-card-back p,
.js-card p,
.js-card-back p,
.java-card p,
.php-card p,
.dotnet-card p {
  font-size: 18px;
  font-weight: 600;
}

.java-card-wrap,
.php-card-wrap,
.dotnet-card-wrap,
.events-card-wrap,
.contacts-card-wrap,
.blog-card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.binary-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
}

.binary-card:hover > .flip-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.binary-card-front {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.binary-card-front img {
  height: 8em;
}

.binary-card-back {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-button {
  border: none;
  padding: 6px 0;
  background-color: #2b8ffc;
  border-radius: 3px;
}

.join-button:hover, .join-button:active {
  background-color: #083c94;
}

.join-button a {
  color: white;
  font-size: 18px;
}

.qa-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  grid-row: 5 / row-end;
}

.qa-card:hover > .flip-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.qa-card-front {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #52bf77;
}

.qa-card-front p {
  width: 100%;
  font-size: 3.8em;
  text-align: center;
  color: white;
}

.qa-card-back {
  padding: 15px;
}

.js-card {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1 / span 6;
}

.js-card:hover > .flip-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.js-card-front {
  position: absolute;
  background-color: #f7cf69;
}

.js-card-front p {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px;
  font-size: 4.2em;
  color: black;
}

.js-card-back {
  position: absolute;
  padding: 15px;
}

.java-card {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / span 4;
  grid-row: 7 / row-end;
}

.java-card:hover .java-card-wrap {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.java-card:hover .java-card-wrap p {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.java-card-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  background-color: #e12b4c;
}

.java-card-wrap p {
  width: 100%;
  font-size: 2.2em;
  text-align: center;
  color: white;
  font-weight: 500;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.php-card {
  grid-column: 9 / col-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.php-card:hover .php-card-wrap {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.php-card-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  background-color: #8893c0;
}

.php-card-wrap p {
  width: 100%;
  font-style: italic;
  font-size: 3.8em;
  text-align: center;
}

.dotnet-card {
  -ms-grid-column: 9;
  -ms-grid-column-span: 5;
  grid-column: 9 / span 5;
  grid-row: 4 / row-end;
}

.dotnet-card:hover .dotnet-card-wrap {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.dotnet-card-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  background-color: #642077;
}

.dotnet-card-wrap p {
  width: 100%;
  font-size: 3.8em;
  text-align: center;
  color: white;
  font-weight: 500;
}

.events-card,
.blog-card,
.contacts-card {
  padding: 0;
}

.events-card p,
.events-card .socials,
.blog-card p,
.blog-card .socials,
.contacts-card p,
.contacts-card .socials {
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.events-card p::-webkit-scrollbar,
.events-card .socials::-webkit-scrollbar,
.blog-card p::-webkit-scrollbar,
.blog-card .socials::-webkit-scrollbar,
.contacts-card p::-webkit-scrollbar,
.contacts-card .socials::-webkit-scrollbar {
  width: 8px;
}

.events-card p::-webkit-scrollbar-thumb,
.events-card .socials::-webkit-scrollbar-thumb,
.blog-card p::-webkit-scrollbar-thumb,
.blog-card .socials::-webkit-scrollbar-thumb,
.contacts-card p::-webkit-scrollbar-thumb,
.contacts-card .socials::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 4px;
}

.events-card {
  grid-column: 14 / col-end;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
  overflow: hidden;
}

.events-card:hover .events-card-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(101%);
          transform: translate(101%);
}

.events-card-wrap p,
.blog-card-wrap p,
.contacts-card-wrap p {
  width: 100%;
  font-size: 1em;
  text-align: center;
  color: white;
}

.events-card-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0%);
          transform: translate(0%);
  background-color: #2d99ff;
}

.blog-card {
  grid-column: 14 / col-end;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  overflow: hidden;
}

.blog-card:hover .blog-card-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(101%);
          transform: translate(101%);
}

.blog-card-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0%);
          transform: translate(0%);
  background-color: #0443a3;
}

.contacts-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column: 14 / col-end;
  -ms-grid-row: 8;
  grid-row: 8;
  overflow: hidden;
}

.contacts-card:hover .contacts-card-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(101%);
          transform: translate(101%);
}

.contacts-card-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0%);
          transform: translate(0%);
  background-color: #00265f;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item {
  color: black;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.social-item:hover {
  color: #2b8ffc;
}

.scrolled-y-wrapper {
  height: 100%;
  overflow: hidden;
}

.scrolled-y-wrapper p {
  height: 100%;
}

.scrolled-x-wrapper {
  width: 100%;
  overflow: hidden;
}

.scrolled-x-wrapper .socials {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

@media screen and (max-width: 980px) {
  .content {
    -ms-grid-rows: (1fr [row-start])[16];
        grid-template-rows: repeat(16, 1fr [row-start]);
  }
  .binary-card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / span 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 8;
    grid-row: 1 / span 8;
  }
  .qa-card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    grid-row: 13 / row-end;
  }
  .js-card {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / span 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 8;
    grid-row: 1 / span 8;
  }
  .java-card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / span 8;
    -ms-grid-row: 9;
    -ms-grid-row-span: 4;
    grid-row: 9 / span 4;
  }
  .php-card {
    grid-column: 9 / col-end;
    -ms-grid-row: 9;
    -ms-grid-row-span: 4;
    grid-row: 9 / span 4;
  }
  .dotnet-card {
    grid-column: 9 / col-end;
    grid-row: 13 / row-end;
  }
  .events-card {
    grid-column: 13 / col-end;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
  }
  .blog-card {
    grid-column: 13 / col-end;
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4 / span 3;
  }
  .contacts-card {
    grid-column: 13 / col-end;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7 / span 2;
  }
}

footer.container {
  margin: 50px auto 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f9f9f9;
}

button {
  outline: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

img {
  display: block;
}
/*# sourceMappingURL=style.css.map */